<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Pronama.NamaTyping.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Pronama.NamaTyping.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="NMeCab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>  
 
  <userSettings>
    <Pronama.NamaTyping.MySettings>
      <setting name="Version" serializeAs="String">
        <value/>
      </setting>
      <setting name="Topmost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNameEntryMessages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowPointMessages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowFilteredMessages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayCommentPattern" serializeAs="String">
        <value>■</value>
      </setting>
      <setting name="HighlightUsers" serializeAs="String">
        <value/>
      </setting>
      <setting name="MessageFontSize" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="LyricFontSize" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="RankingFontSize" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="BottomGridOpacity" serializeAs="String">
        <value>0.6</value>
      </setting>
      <setting name="RecentLyricLineCount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Volume" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="WindowSizePattern" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>450</value>
      </setting>
      <setting name="MediaStretch" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="BlacklistCharactersHighlight" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SplitBlacklistCharacters" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConnectAllCommentServers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowTimeOnLyricsGrid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>NaN</value>
      </setting>
    </Pronama.NamaTyping.MySettings>
  </userSettings>
  <applicationSettings>
    <Pronama.NamaTyping.MySettings>
      <setting name="BlacklistCharactersSeparator" serializeAs="String">
        <value>/</value>
      </setting>
      <setting name="SubstitutionListDownloadURL" serializeAs="String">
        <value>https://id.pokemori.jp/niconico-live-ncv</value>
      </setting>
      <setting name="RecentMessagesCount" serializeAs="String">
        <value>100</value>
      </setting>
    </Pronama.NamaTyping.MySettings>
    <NMeCab.Properties.Settings>
      <setting name="DicDir" serializeAs="String">
        <value>./dic/naist-jdic/</value>
      </setting>
    </NMeCab.Properties.Settings>
  </applicationSettings>
</configuration>
